<div class="players-container mat-elevation-z8">

  <md-table #table [dataSource]="dataSource" mdSort>
    <ng-container cdkColumnDef="clubSymbol">
      <md-header-cell *cdkHeaderCellDef class="players-header symbol-row"></md-header-cell>
      <md-cell *cdkCellDef="let row" class="players-row symbol-row"><img class="table-symbol" src="{{row.clubSymbol}}" alt="..."></md-cell>
    </ng-container>

    <ng-container cdkColumnDef="name">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="players-header"> Name </md-header-cell>
      <md-cell *cdkCellDef="let row" class="players-row"> {{row.name}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="nationality">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="players-header"> Nationality </md-header-cell>
      <md-cell *cdkCellDef="let row" class="players-row"> {{row.nationality}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="position">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="players-header"> Position </md-header-cell>
      <md-cell *cdkCellDef="let row" class="players-row"> {{row.position}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="jerseyNumber">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="players-header"> Number </md-header-cell>
      <md-cell *cdkCellDef="let row" class="players-row"> {{row.jerseyNumber}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="club">
      <md-header-cell *cdkHeaderCellDef md-sort-header class="players-header"> Club </md-header-cell>
      <md-cell *cdkCellDef="let row" class="players-row"> {{row.club}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

  <md-paginator #paginator
                [length]="dataSource.actualDataLength"
                [pageIndex]="0"
                [pageSize]="25"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

  <div class="filter-header">
    <md-input-container floatPlaceholder="never">
      <input mdInput #filterName placeholder="Filter name">
    </md-input-container>
    <md-input-container floatPlaceholder="never">
      <input mdInput #filterNationality placeholder="Filter nationality">
    </md-input-container>
    <md-input-container floatPlaceholder="never">
      <input mdInput #filterPosition placeholder="Filter position">
    </md-input-container>
    <md-input-container floatPlaceholder="never">
      <input mdInput #filterNumber placeholder="Filter number">
    </md-input-container>
    <md-input-container floatPlaceholder="never">
      <input mdInput #filterClub placeholder="Filter club">
    </md-input-container>
  </div>
</div>
