@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* Structure */
.players-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.players-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.players-row {
  align-items: center;
  padding-left: 24px;
}

.symbol-row {
  max-width: 40px;
  padding-right: 24px;
}

.mat-table {
  overflow: auto;
}

.mat-header-cell .mat-sort-header-sorted {
  color: black;
}

.table-symbol {
  display: block;
  margin: 0 auto;
  max-height: 42px;
  max-width: 42px;
}
